extends ../layout/index

block main
  block form
    form(action="" class="formularioLogin")
      div 
        label(for="usuario") Correo
        input( id="usuario" type="text" )  
      div 
        label(for="paswword") Contraseña
        input( id="paswword" type="text" )  
      div 
        input( id="iniciar" type="submit" value="Iniciar Sesión")
      div(class="enlaces")
        a(href="registro") 
          span ¿Desea Registrarse?
        a(href="recuperar") 
          span ¿Olvidó su contraseña? 