extends ../layout/index

block main
  block form
    form(action="" class="formularioLogin")
      div 
        label(for="paswword") Correo Electrónico
        input( id="paswword" type="text" )  
      div 
        input( id="iniciar" type="submit" value="Recuperar Contraseña")  
      div(class="enlaces")
        a(href="login") 
         span ¿Ya tiene cuenta?
        a(href="registro") 
          span ¿Desea Registrarse?