extends ../layout/index

block main
  block form
    form(action="/registro" class="formularioLogin" method='POST')
      div 
        label(for="nombre") Nombre
        input( id="nombre" type="text" name="nombre")  
      div 
        label(for="email") Correo
        input( id="email" type="text" name="email")  
      div 
        label(for="password") Contraseña
        input( id="password" type="password" name="password")  
      div 
        label(for="cpassword") Confirmar Contraseña
        input( id="cpassword" type="password" name="confirmar")  
      div 
        input( id="iniciar" type="submit" value="Registrarse")
      div(class="enlaces")
        a(href="login") 
          span ¿Ya tiene cuenta?
        a(href="recuperar") 
          span ¿olvidó su contraseña?