@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}

a{
  text-decoration: none;
}

input{
  border: none;
  outline: none;
  color: black;
}

body{
  background-color: #041D38;
}


main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.formularioLogin{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  height: auto;
  gap: 4%;
  background-color: #09407A;
  box-shadow: 5px 5px 0px #45ADDE;
  padding: 1%;
}

.formularioLogin div{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 2%;
  width: 50%;
}

.formularioLogin div input{
  margin-top: 4%;
  color: white;
  text-align: center;
}


.formularioLogin input{ 
  border: none;
  border-bottom: solid 1px white;
  background-color: transparent;
  width: 100%;
}

#iniciar{
  background-color: #041D38;
  border: none;
  width: 100%;
  padding: 3%;
  height: 5vh;
  cursor: pointer;
  color: white;
  transition: 0.3s ease-in-out all;
}

#iniciar:hover{
  background-color: transparent;
  border: solid 2px #041D38;
}

span{
  font-size: 13px;
}

.enlaces{
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
}